body {
    background-color: #1f1f1f;
    color: #959595;
    margin: 0px;
    padding: 0px;
    height: 2000px;
}

html {
    scroll-behavior: smooth;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
    margin-bottom: 100px;
}

#name {
    background: linear-gradient(90deg, #fa6e00, #e60026);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 30px;
    transform: translateY(-15px);
}

#list {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0px;
}

#home {
    color: #fa6e00;
}

nav #hire {
    background-color: #fa6e00;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    transform: translateY(-10px);
}

#section-2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 170px;
}

#header {
    width: 450px;
    height: 400px;
}

#introname {
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    padding: 10px 0px;
}

#work {
    margin-top: 20px;
    font-size: 50px;
    color: #fa6e00;
    font-weight: 600;
    text-shadow: #fa6e00 30px 30px 1000px;
}

#icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.icons {
    display: flex;
    border: 1px solid #959595;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.fa-brands {
    font-weight: 600;
    font-size: 25px;
}

#introhire {
    display: flex;
    gap: 30px;
}

#hire {
    background-color: #fa6e00;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
}


#download {
    border: 2px solid #959595;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
}

#exp {
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    background-color: hsla(0, 0%, 100%, 0.04);
    padding: 5px;
    padding-bottom: 30px;
    color: aliceblue;
    gap: 20px;
    border-radius: 20px;
}

#divider {
    border: 1px solid #959595;
    height: 80px;
    margin-top: 22px;
}

#exp p {
    color: #fa6e00;
}

.exp {
    display: inline-block;
}

#image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: hsla(26, 100%, 0%, 0.2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#img {
    width: 100%;
    height: 100%;
    transform: rotateZ(-23deg);
}

#services {
    text-align: center;
    padding-top: 50px;
}

#services h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

#all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0px 40px;
    gap: 40px;
    padding-top: 80px;
}

.minion {
    background-color: #1e1e1e;
    border: 1px solid #959595;
    border-radius: 20px;
    padding: 20px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.minion:hover {
    box-shadow: #fa6e00 0px 0px 40px;
    transform: translateY(-8px);
    border: none;
}

.minion h3 {
    color: white;
    margin-bottom: 10px;
}

.minion p {
    color: #959595;
    font-size: 15px;
    line-height: 22px;
}

#about {
    display: flex;
    justify-content: space-between;
    margin: 60px 150px;
}

#about div {
    width: 600px;
}

#prof {
    width: 600px;
    height: 600px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: hsla(26, 100%, 0%, 0.2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aaab {
    text-align: center;
    margin: 110px 0px;
}

.aaab h2 {
    color: white;
}

#ref p {
    line-height: 40px;
    font-size: 22px;
    word-spacing: 10px;
}

div#download2 {
    border: 3px solid #959595;
    padding: 10px 15px;
    border-radius: 5px;
    width: 160px;
    margin-top: 40px;
}

#tools {
    display: flex;
    justify-content: space-evenly;
}

#iconname {
    display: flex;
    justify-content: space-evenly;
}

#figma {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#fa6e00 calc(var(--percent) * 1%),
            /* filled color */
            #1e1e1e 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    --percent: 30;
}

#sketch {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#fa6e00 calc(var(--percent) * 1%),
            /* filled color */
            #1e1e1e 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    --percent: 100;

}

#awesome {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#fa6e00 calc(var(--percent) * 1%),
            /* filled color */
            #1e1e1e 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    --percent: 50;

}

.tools {
    background-color: #1e1e1e;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;

}

.dd {
    width: 120px;
    text-align: center;
    margin-top: 050px;
    font-size: 23px;
    font-weight: 600;
}

#contact {
    text-align: center;
    margin: 90px 30px;
}

#contact h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#input {
    width: 400px;
    transform: translateX(40lvw);
}

input {
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid #959595;
    border-radius: 7px;
    height: 30px;
    color: white;
}

textarea {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid #959595;
    border-radius: 7px;
    min-height: 60px;
    width: 400px;
    color: white;
}

#button {
    border-radius: 5px;
    background-color: transparent;
    border: #959595 1px solid;
    width: 100px;
    height: 40px;
    color: white;
    margin-top: 30px;
}

#button:hover {
    cursor: pointer;
}

#butto {
    border-radius: 5px;
    background-color: transparent;
    border: #959595 1px solid;
    height: 40px;
    color: white;
    margin-top: 30px;
    width: 150px;
    margin-left: 50px;
}

footer {
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.04);
    padding-bottom: 30px;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;

}

a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: #fa6e00;
}

#hire:hover {
    background-color: rgb(255, 255, 255);
    border: #fa6e00 1px solid;
    color: #fa6e00;
}

.ico:hover {
    animation: fa-spin 1.5s infinite;

}

#for {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: hsla(0, 0%, 100%, 0.04);
}

#toggle i {
    position: fixed;
    top: 95%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: rgb(255, 255, 255);
    z-index: 1000;
}

